.DS_Store

# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode

# Directories
build/
coverage/
cjs/
dist/
dts/
esm/
lib/
mjs/
tmp/
umd/
node_modules/

# Custom
*.min.js
*.map
*.tsbuildinfo

# Moon
.moon/cache
.moon/dts

# Apps
.astro/
.output/
.svelte-kit/
.vercel/
