# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode

# Directories
assets/
build/
coverage/
cjs/
dist/
dts/
esm/
lib/
mjs/
tmp/
umd/
node_modules/

# Custom
*.min.js
*.map

# Moon
.moon/cache
.moon/dts
